.navbar {
  background-color: white;
  box-shadow: 0px -9px 20px #000000;
  padding-right: 100px;

  .nav {
    &-item {
      padding: 0 .5rem;
    }
    &-link {
      padding: 1rem;
      color: #888888;
    }
  }
}

.content {
  padding-top: 100px;
  padding-bottom: 20px;
}