<template>

    <div class="container-fluid pt-3">
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-lg">
                <div class="container">
                <h5 class="navbar-brand">Navbar</h5>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" @click="colorFilter">
                                Color
                            </button>
                            <button type="button" class="btn btn-primary" @click="cityFilter">
                                City
                            </button>
                        </li>
                    </ul>
                
                </div>
            </nav>
        </div>

        <div class="row flex-row flex-sm-nowrap">
            <div class="" v-for="item in users" v-bind:key="item.key">
                <div class="card card-primary card-inverse" style="width:350px;"
                    v-bind:class="item.style">

                    <div class="card-body">
                    <div class="row">
                        <img class="card-img-top" :src="item.picture.large" alt="Card Image" style="width:150px;">
                    </div>
                    <h5 class="card-title">{{ item.name.title }} {{ item.name.first }} {{ item.name.last }}</h5>
                    <p class="card-text">{{ item.dob.age }}</p>
                    <p class="card-text">{{ item.location.city }}, {{ item.location.state }}, {{ item.location.postcode }}</p>
                    <p class="email">{{ item.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from 'vuex';

export default {

    data () {
        return {
            allUser: [],
            users: [],
            current: 10,

            tags: {
                red: 'bg-danger',
                green: 'bg-success',
                blue: 'bg-primary'
            },
        }
    },
    methods: {
        getInitialUsers () {
            axios('https://randomuser.me/api?results=100', {
                crossDomain: true
            }).then( ({ data }) => {
                this.allUser = data.results
                data.results.map((item, key) => {
                    if (this.users.length < 10) {
                        this.users.push(item)
                    }
                })
            })
        },
        scroll (users) {
            window.onscroll = () => {
                const scrollX = window.scrollX
                const visible = document.documentElement.clientWidth
                const pageWidth = document.documentElement.scrollWidth
                const rightOfPage = visible + scrollX >= pageWidth

                if (rightOfPage || pageWidth < visible) {
                    this.users = []
                    this.current += 10
                    this.allUser.map((item, key) => this.users.length < this.current ? this.users.push(item) : '')
                }
            }
        },
        cityFilter() {
            this.users = []
            this.allUser.sort(function compare(a, b) {
                if (a.location.city < b.location.city)
                    return -1;
                if (a.location.city > b.location.city)
                    return 1;
                return 0;
            }).map((item, key) => {
                item.style = ''
                this.users.length < this.current ? this.users.push(item) : ''
            });
        },
        colorFilter() {   
            this.users = []
            this.allUser.sort(function compare(a, b){
                if (a.dob.age < b.dob.age)
                    return -1;
                if (a.dob.age > b.dob.age)
                    return 1;
                return 0
            })
            this.allUser.map( (item, key) => {
                item.style = (item.dob.age < 21) ? 'text-white bg-danger' : (item.dob.age > 21 && item.dob.age < 56) ? 'text-white bg-success' : (item.dob.age >= 56) ? 'text-white bg-primary' : null
                this.users.length < this.current ? this.users.push(item) : ''
            });
        }
    },
    beforeMount() {
        this.getInitialUsers();
    },
    mounted() {
        this.scroll(this.user);
    }
}

</script>

<style lang="scss" scoped>

    /* Small devices (mobile, ) */
    @media (min-width: 34em) {
        .card-columns {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }

    .card-text, .card-title {
        text-transform: capitalize;
    }

    .card {
        margin: 10px;
    }

</style>