<template>
  <div>
    <div class="container content" onscroll="scrolled(this)">
      <!-- Content -->
      <Content/>
    </div>
  </div>
</template>

<script>
import Content from '~/components/content.vue'

export default {
  components: {
    Content
  }
}
</script>